<h1>新規メモ作成ページ</h1>

<%= form_tag("/create") do %>
    <div class="form-group">
        <%= label_tag "form_title", "Title" %>
        <%= text_field :memos, :title, id:"form_title", class:"form-control",placeholder:"メモの要約"%>
    </div>
    
    <div class="form-group">
        <%= label_tag "form_content", "Content" %>
        <%= text_field :memos, :content, id:"form_content", class:"form-control",placeholder:"メモの内容" %>
    </div>
    
    <div class="form-group">
        <%= label_tag "form_category", "Category" %>
        <%= select_tag 'memos[category_id]', options_from_collection_for_select(@categories, :id, :category),class:"form-control",id:"form_category" %>
    </div>
    
    
    <%= submit_tag "作成" ,class:"btn btn-primary" %>
<% end %>